.register-form {
    max-width: 300px;
    margin: auto;
    margin-top: 10vh;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  }
  
  .register-title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 24px;
    color: #1890ff;
  }
  
  .register-form-button {
    width: 100%;
    background-color: #1890ff;
    border-color: #1890ff;
  }
  
  .register-form-button:hover {
    background-color: #40a9ff;
    border-color: #40a9ff;
  }
  
  .register-form-button:active {
    background-color: #096dd9;
   
  }